body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f1f1f1;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000080;
    color: white;
    padding: 20px;
  }
  
img {
    height: auto;
    width: 250px;
    align-items: center;
  }

h2 {
  background-color: #f1f1f1;
  color: #000080;
  text-align: center;
}

h3 {
  background-color: #f1f1f1;
  color: #000080;
}

  [attribute^="titolo"] {
    background-color: #f1f1f1;
    color: #000080;
    padding: 20px;
  }

  .testo {
    background-color: #f1f1f1;
    color: #000080;
   margin-left: 20px;
  }
  
  